<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<insert id="insertUser" parameterType="user">
		insert into users
		values(#{id},#{password}, '1',#{email}, #{tel}, to_date(#{birthDate}, 'yyyyMMdd'))
	</insert>
	<insert id="insertAuthority" parameterType="hashmap">
		insert into authorities values(#{id},#{authority})
	</insert>

	<!-- select결과와 vo를 연결하는 방식을 지정 -->
	<resultMap id="userMap" type="user">
		<id property="id" column="id" />	<!--  기본키 -->
		<result property="email" column="email" />
		<result property="tel" column="tel" />
		<result property="birthDate" column="birthDate" />
		<collection property="authorities" ofType="com.icia.sboard.vo.Authority">
			<result property="authority" column="authority"/>
		</collection>
	</resultMap>
	<select id="getUser" parameterType="string" resultMap="userMap">
		select u.id id, email, tel, to_char(birth_date,'yyyy-MM-dd') birthDate, authority
		from users u, authorities a
		where u.id=a.id and u.id=#{id}
	</select>
</mapper>







