@charset "UTF-8";
#header {
	height: 50px;
	border: 1px solid skyblue;
}
#nav {
	height: 50px;
	border: 1px solid orange;
}
#footer {
	height: 50px;
	border: 1px solid green;
}
#nav li {
	list-style: none;
	float: left;
	width: 100px;
}